<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNet3dsToolkit" version="1.5.1-v1-legacy.2" targetFramework="net462" />
  <package id="DotNetNdsToolkit" version="2.0.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="SkyEditor.Core" version="4.2.4" targetFramework="net462" />
</packages>